In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
class linearRegression:
    def __init__(self,lr=0.1,n_iters=1000):
        self.lr=lr
        self.n_iters=n_iters
        self.weights=None
        self.bias=None

    def fit(self,X,y):
        n_samples,n_features=X.shape
        self.weights=np.zeros(n_features)
        self.bias=0
        for iters in range (self.n_iters):
            ypred=np.dot(X,self.weights)+self.bias #x.weight+bias
            dw=(1/n_samples)*np.dot(X.T,(ypred-y))
            db=(1/n_samples)*np.sum(ypred-y)
            self.weights=self.weights-(self.lr*dw)
            self.bias=self.bias-(self.lr*db)
            #for observation only
            mse = (1 / n_samples) * np.sum((y - ypred) ** 2)
           # print(f"Iteration {iters}: MSE = {mse}")
    
    def predict(self,X):
        ypred=np.dot(X,self.weights)+self.bias
        return ypred

In [3]:
#data=pd.read_csv(r"D:\Download\Regression 1\Salary.csv")

data=pd.read_csv(r"D:\Download\Regression\Real estate.csv")
data

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [4]:
features=data.drop("Y house price of unit area",axis=1)
target=data["Y house price of unit area"]

In [5]:
# features=data.drop("Salary",axis=1)
# target=data["Salary"]

In [6]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(features,target,test_size=0.2,random_state=1)

In [7]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
sc=MinMaxScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [8]:
model=linearRegression(lr=.5,n_iters=6000)
model.fit(xtrain,ytrain)

In [9]:
predictions=model.predict(xtest)

In [10]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,root_mean_squared_error
print(r2_score(predictions,ytest))
print(mean_absolute_error(predictions,ytest))
print(mean_squared_error(predictions,ytest))
print(root_mean_squared_error(predictions,ytest))

0.645757785568084
5.326849063550728
44.59465043421044
6.67792261367339

In [11]:
len(ytest)

83